.spinner {
  --spinner-color: #005543;
  --spinner-muted: rgba(0, 85, 67, 0.3);
  
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.spinner-white {
  --spinner-color: #ffffff;
  --spinner-muted: rgba(255, 255, 255, 0.4);
}
.spinner::before,
.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 3px solid var(--spinner-muted);
  animation: prixClipFix 2s linear infinite;
}

.spinner::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: var(--spinner-color);
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
